.particle-section {
	position: relative;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 60%); 
	padding-top: 70px;
	
}

.particles-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

